/SA_Config_Info/bin
/SA_Config_Info/obj
/InstallAEJSX/bin
/InstallAEJSX/obj
/InstallationWizard/bin
/InstallationWizard/obj
/InstallCronJob/bin
/InstallCronJob/obj
/InstallationSVWizard/bin
/InstallationSVWizard/obj
/InstallSVCronJob/bin
/InstallSVCronJob/obj
/ConfigSACredential/bin
/ConfigSACredential/obj
/ConfigSACronJob/bin
/ConfigSACronJob/obj
/CreateSAScheduleTask/bin
/CreateSAScheduleTask/obj
/ConfigSVCronJob/bin
/ConfigSVCronJob/obj
/CreateSVScheduleTask/bin
/CreateSVScheduleTask/obj
